export TERM="xterm-256color"
export RUST_SRC_PATH="$HOME/.rust/src"
export POSTGRES_PATH="/Applications/Postgres.app/Contents/Versions/latest/bin"

export UNITY_FPATH="/Applications/Unity/Unity.app/Contents/MacOS"
export GOPATH="$HOME/golang"
export GOROOT="/usr/local/opt/go/libexec"
export PATH_RBENV="$HOME/.rbenv/shims"
export PATH_CARGO="$HOME/.cargo/bin"
export PATH_PYENV="$HOME/.pyenv/shims"
export PATH_UNITY="/Applications/Unity5.3.4f1/Unity.app/Contents/MacOS"
export PATH="$UNITY_FPATH:$GOROOT/bin:$GOPATH/bin:$PATH_UNITY:$PATH_PYENV:$PATH_RBENV:$PATH_CARGO:$POSTGRES_PATH:$PATH"

export LIBRARY_PATH="$LIBRARY_PATH:/usr/local/lib"
