[user]
	name = eunpyoung.kim
	email = netpyoung@gmail.com
[includeIf "gitdir:~/company/"]
	path = .company_gitconfig
[core]
	excludesfile = /Users/pyoung/.gitignore_global
    editor = nvim

[diff]
	tool = kdiff3
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool "p4mergetool"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 $LOCAL $REMOTE
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge $LOCAL $REMOTE

[merge]
    keepBackup = false
	tool = kdiff3
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "kdiff3"]
    cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[mergetool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = false
    keepTemporaries = false
    keepBackup = false

[color]
	ui = auto

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
    bb = remote prune origin
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[ssh]
	postBuffer = 524288000
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[credential]
	eraseosxkeychain = true
[commit]
	template = ~/.stCommitMsg

